* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --blue: rgb(96, 66, 215);
  --black: #111828;
}

.overall-container {
  background-image: linear-gradient(
    to bottom right,
    #111828,
    rgb(188, 163, 163)
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: white;
  width: 95%;
  max-width: 600px;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.main-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.percentage {
  color: var(--blue);
}

.text-container {
  font-size: 18px;
}

.text-container input {
  padding: 5px;
  /* width: 100px; */
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  transition: 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.content-container button {
  padding: 10px;
  color: white;
  background-color: var(--blue);
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 15px;
}

.clear-btn {
  background-color: #1a1a1a !important;
  background-color: rgb(225, 67, 67) !important;
}

.results p {
  /* text-align: center; */
  margin-top: 20px;
  font-weight: bold;
  color: var(--blue);
}

hr {
  margin: 50px 0;
}

.sec-text-container {
  /* margin-top: 20px; */
}

.sec-text-container input {
  padding: 5px;
}

.sec-results p {
  margin-top: 20px;
  font-weight: bold;
  color: var(--blue);
}

@media (max-width: 575px) {
  input {
    margin-top: 10px;
  }
}

.fade-in {
  animation: fadeIn 0.2s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
